/* #region base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion base */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
}

.header-contacts {
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.container-hero {
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region reviews */

.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 1128px;
}
.reviews-item {
  width: 264px;
}
.reviews-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.reviews-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion reviews */

/* #region Our Team */
.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 128px;
}

.container-team {
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-img {
  background: url('path_to_image');
}

.team-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 232px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion Our Team */

/* #region Portfolio */
.portfolio {
  padding: 120px 0;
}

.container-portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  min-width: 218px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.portfolio-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
}
.portfolio-img {
  background: url('path_to_image');
}
.portfolio-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Portfolio */

/* #region footer */
.page-footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
/* #endregion footer */
